body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 500;
}

h1, h2, h3, h4, h5, h6, ul, li, p, figure {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header {
	/* background:linear-gradient(220deg, #808080, #6ea4a4); */
	background-image: url('../img/bg.jpg');
	background-color: #282828;
	background-position: bottom center;
	background-size: cover;
	clip-path: ellipse(90% 100% at 50% 0%);
}
.sub-page .header-row-1 {
	box-shadow: 0 0 12px #eee;
}

.navigation {
	padding: 22px 0;
	max-height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-logo {
	display: flex;
	align-items: center;
	grid-gap: 8px;
}

.nav-logo img {
	height: auto;
}

.nav-logo h3 {
	font-size: 32px;
	padding: 0;
	color: #4f0672;
	text-transform: uppercase;
}

.navigation ul {
	display: flex;
	align-items: center;
	grid-gap: 32px;
	list-style: none;
}

.navigation ul li a {
	font-size: 16px;
	font-weight: 500;
	color: #1b1b1b;
	text-decoration: none;
}

.navigation ul li a.active {
	color: #4f0672 !important;
	font-size: 18px !important;
	font-weight: 500 !important;
}

.navigation ul li span {
	font-size: 14px;
}

.navigation ul li img {
	padding: 3px 5px;
}

.navigation .login ul li .login-link {
	color: #fcfcfc;
	border-radius: 50px;
	background: #4e0570;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	padding: 14px 49px;
}

.header-row-2 {
	padding: 120px 0;
}

.hr2-inner {
	text-align: center;
	padding-bottom: 180px;
}

.hr2-inner h1 {
	color: #ffffff;
	font-size: 60px;
	padding-bottom: 30px;
	text-shadow: 0 5px 5px #a5a5a5;
}

.hr2-inner h1 span {
	display: block;
}

.hr2-inner a {
	justify-content: center;
	background: linear-gradient(to right, #dd4026, #f4a232);
	text-decoration: none;
	padding: 15px 35px;
	border-radius: 50px;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
}

.card-design {
	margin-top: -150px;
	margin-bottom: 100px;
}

.card-design .card {
	padding: 26px;
	text-align: left;
	border-radius: 4px;
	border: 1px solid #e04c28;
	transition: 0.5s all;
	margin-bottom: 20px;
}

.card-design .card:hover {
	transform: translateY(-10px);
	transition: 0.5s all;
	background: linear-gradient(to right, #dd4026, #f4a232);
	color: #fff;
	box-shadow: 0 10px 30px #d6d6d6;
}

.card-design .card.active {
	background: linear-gradient(to right, #dd4026, #f4a232);
	color: #fff;
}

.card-design .card-head svg {
	font-size: 30px;
	margin-bottom: 12px;
}

.card-design .card-body p {
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 15px;
	font-weight: 400;
}

.card-design a {
	background: linear-gradient(to right, #dd4026, #f4a232);
	text-decoration: none;
	padding: 15px 35px;
	border-radius: 50px;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	width: max-content;
}

.card-design .card.active a,
.card-design .card:hover a {
	background: #fff;
	color: #000;
}

.about-work {
	padding: 100px 0;
	background: #f6f6f6;
}

.inner-head {
	text-align: center;
	padding-bottom: 50px;
}

.inner-head h1 {
	font-size: 48px;
	font-weight: 600;
	color: #282828;
	padding-bottom: 10px;
}

.inner-head p {
	font-size: 18px;
	font-weight: 300;
	color: #7d7d7d;
}

.card-list {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
}

.card-list li {
	list-style: none;
	font-size: 36px;
	font-weight: 600;
	text-decoration: none;
	background: #ffffff;
	padding: 50px;
	color: #282828;
	box-shadow: 5px 8px 50px #ccc;
}

.card-list li:first-child {
	padding: 50px;
	background: linear-gradient(to right, #dd4026, #f4a232);
	color: #ffffff;
}

.grid-content {
	display: grid;
	grid-template-columns: repeat(4, auto);
	align-items: center;
	justify-content: left;
	margin-bottom: 50px;
	grid-gap: 35px;
}

.grid-content .card-desc {
	background: #fdfdfd;
	padding: 34px;
	border-radius: 6px;
	box-shadow: 0 4px 12px #d2d2d2;
	position: relative;
	overflow: hidden;
	transition: 0.5s all;
	height: 100%;
}

.grid-content .card-desc:hover {
	box-shadow: 0 18px 15px #b6b6b6;
	transition: 0.5s all;
}

.grid-content .card-desc span {
	width: 24px;
	height: 50px;
	position: absolute;
	background: linear-gradient(to right, #dd4026, #f4a232);
	border-radius: 20px;
	left: -8px;
	top: 20px;
}

.grid-content .card-desc p {
	font-size: 16px;
	font-weight: 400;
	color: #767676;
	line-height: 26px;
}

.why-we {
	padding-bottom: 40px;
}

.icons-center-card {
	height: 100%;
	display: grid;
	place-items: center;
	margin: 0 auto;
}

.container.icon-full-width {
	text-align: left;
	padding: 75px 0;
	position: relative;
}

.icons-header .w-title {
	font-size: 18px;
	color: #161616;
	font-weight: 500;
	font-family: 'varta', sans-serif;
	line-height: 42px;
	text-transform: uppercase;
}

.icons-header::before {
	content: '';
	border-left: 7px solid #161616;
	height: 42px;
	position: absolute;
	left: 0;
}

.icon-full-width .icons-header {
	padding-left: 24px;
}

.icons-header .w-description {
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	max-width: 76%;
	margin-top: 15px;
}

.icon-full-width .icons-slider {
	width: 100%;
	background: url(../img/bg-cover.png);
	background-position: 50% 75%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 20px;
	display: flex;
	grid-gap: 25px;
	position: relative;
	overflow: hidden;
}

.card-wheel-caption .w-block-text {
	text-transform: uppercase;
	font-size: 15px;
	padding-bottom: 3px;
	line-height: 21px;
}

.card-wheel-caption .w-card-description-text {
	font-size: 14px;
	padding-bottom: 5px;
}

.icon-full-width .icons-slider .icons-slider-card {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 30px;
	align-items: center;
	flex-direction: column;
	grid-gap: 10px;
	transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	will-change: transform;
	min-width: 24%;
	min-height: 465px;
	max-height: 465px;
}

.icon-full-width .icons-slider .icons-slider-card .card-wheel-img {
	max-width: 135px;
	width: 100%;
	max-height: 135px;
	height: 100%;
	object-fit: cover;
}

.icons-slider #slide1:checked~.icons-slider-card[for="card1"] .card-wheel-img,
.icons-slider #slide2:checked~.icons-slider-card[for="card2"] .card-wheel-img,
.icons-slider #slide3:checked~.icons-slider-card[for="card3"] .card-wheel-img,
.icons-slider #slide4:checked~.icons-slider-card[for="card4"] .card-wheel-img,
.icons-slider #slide4:checked~.icons-slider-card[for="card5"] .card-wheel-img,
.icons-slider #slide4:checked~.icons-slider-card[for="card6"] .card-wheel-img {
	transform: scale(0.85);
	transition: 1s ease-in-out;
	max-width: 210px;
	max-height: 205px;
}

.card-wheel-caption {
	text-align: center;
	margin-top: 21px;
}

.icons-slider [name=slider] {
	position: fixed;
	top: -20px;
}

.icons-slider #slide1:checked~.icons-slider-card {
	transform: translate3d(0%, 0, 0);
}

.icons-slider #slide1:checked~#bwd [for=slide4] {
	display: none;
}

.icons-slider #slide1:checked~#fwd [for=slide2] {
	display: block;
}

.icons-slider #slide2:checked~.icons-slider-card {
	transform: translate3d(-100%, 0, 0);
}

.icons-slider #slide2:checked~#bwd [for=slide1] {
	display: block;
}

.icons-slider #slide2:checked~#fwd [for=slide3] {
	display: none;
}

.icons-slider #slide3:checked~.icons-slider-card {
	transform: translate3d(-200%, 0, 0);
}

.icons-slider #slide3:checked~#bwd [for=slide2] {
	display: block;
}

.icons-slider #slide3:checked~#fwd [for=slide4] {
	display: block;
}

.icons-slider #slide4:checked~.icons-slider-card {
	transform: translate3d(-300%, 0, 0);
}

.icons-slider #slide4:checked~#bwd [for=slide3] {
	display: block;
}

.icons-slider #slide4:checked~#fwd [for=slide5] {
	display: block;
}

.icons-slider #slide5:checked~.icons-slider-card {
	transform: translate3d(-400%, 0, 0);
}

.icons-slider #slide5:checked~#bwd [for=slide4] {
	display: block;
}

.icons-slider #slide5:checked~#fwd [for=slide6] {
	display: block;
}

.icons-slider #slide6:checked~.icons-slider-card {
	transform: translate3d(-500%, 0, 0);
}

.icons-slider #slide6:checked~#bwd [for=slide5] {
	display: block;
}

.icons-slider #slide6:checked~#fwd [for=slide1] {
	display: block;
}

.icons-slider #slide1:checked~.icons-slider-card[for="card1"],
.icons-slider #slide2:checked~.icons-slider-card[for="card2"],
.icons-slider #slide3:checked~.icons-slider-card[for="card3"],
.icons-slider #slide4:checked~.icons-slider-card[for="card4"] .icons-slider #slide4:checked~.icons-slider-card[for="card5"] .icons-slider #slide4:checked~.icons-slider-card[for="card6"] {
	background: url(../img/wheel-bg.jpg);
	border: 2px solid #ccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: space-evenly;
}

.icons-slider label {
	cursor: pointer;
}

.icons-slider #fwd,
.icons-slider #bwd {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.icons-slider #fwd label,
.icons-slider #bwd label {
	display: none;
	padding: 0.5em;
	border-radius: 50%;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 120 120"><polygon fill="black" points="34.358,43.299 94.391,103.34 77.732,119.99 17.7,59.957 "/><polygon fill="black" points="17.606,60.067 77.623,0.011 94.281,16.653 34.256,76.71 "/></svg>') center center no-repeat;
	background-size: 1rem;
}

.icons-slider #bwd {
	left: 0.5em;
}

.icons-slider #fwd {
	right: 0.5em;
}

.icons-slider #fwd label {
	transform: rotate(180deg);
}

.footer-menu.grid-content {
	grid-template-columns: repeat(4, 1fr);
	background: rgba(255, 255, 255, 0.7);
	padding: 44px;
	backdrop-filter: blur(100px);
	border: 1px solid #141414;
	border-radius: 16px;
	align-items: flex-start;
	margin: 0;
}

.footer {
	padding: 100px 0 0;
	background: url('../img/f-bg.jpg') no-repeat top center;
	background-size: cover;
}
.desc-footer p {
	font-size: 14px;
	margin: 22px auto;
	font-weight: 400;
	line-height: 26px;
}
.f-icons svg {
	font-size: 20px;
	margin-right: 15px;
	color: #0c5fa7;
}
.footer-list h2 {
	font-size: 21px;
	padding-bottom: 16px;
	position: relative;
	margin-bottom: 12px;
}
.footer-list h2::before {
	content: '';
	width: 53px;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	background-color: #ff7e07;
	border-radius: 12px;
}
.footer-list ul li {
	list-style: none;
	padding: 6px 0;
	color: #141414;
	font-size: 14px;
	font-weight: 400;
	display: flex;
	align-items: baseline;
}
.footer-list ul li:hover, .footer-list ul li a:hover{
	color: #ff7e07;
}
.footer-list ul li a {
	color: #141414;
	text-decoration: none;
	font-size: 14px;
}
.footer-list ul li svg {
	margin-right: 12px;
}
.footer-list ul li input {
	border: 1px solid #e6e6e6;
	height: 46px;
	width: 100%;
	border-radius: 4px;
}
.footer-list .input-search li {
	flex-direction: column;
	grid-gap: 13px;
}
.footer-list ul li .send {
	display: block;
	background-color: #1325e8;
	color: #fff;
	padding: 6px 20px;
	border-radius: 2px;
}
.footer-end {
	text-align: center;
}

.footer-end p {
	padding: 35px  ;
	font-size: 18px;
	font-weight: 400;
	color: #2d2d2d;
	line-height: 30px;
}

.footer-end span {
	padding: 0 20px;
	font-size: 25px;
	color: #767676;
}

/* contact */
.social-icon .right_conatct_social_icon {
	height: 100%;
	background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
	display: flex;
	align-items: end;
}

.contact_us {
	background-color: #f1f1f1;
	padding: 100px 0px;
}
.contact_us .row-form{
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
}
.contact_us  .form-two-grid{
	display: grid;
	grid-template-columns: 85% 15%	;
}
.contact_inner {
	background-color: #fff;
	position: relative;
	box-shadow: 20px 22px 44px #cccc;
	border-radius: 25px;
}

.contact_field {
	padding: 60px 340px 90px 100px;
}

.contact_field h3 {
	color: #000;
	font-size: 40px;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 10px
}

.contact_field p {
	color: #000;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 35px;
}

.contact_field .form-control {
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #ccc;
}

.contact_field .form-control:focus {
	box-shadow: none;
	outline: none;
	border-bottom: 2px solid #1325e8;
}

.contact_field .form-control::placeholder {
	font-size: 13px;
	letter-spacing: 1px;
}

.contact_info_sec {
	position: absolute;
	background-color: #2d2d2d;
	right: 1px;
	top: 18%;
	height: 340px;
	width: 340px;
	padding: 40px;
	border-radius: 25px 0 0 25px;
}

.contact_info_sec h4 {
	letter-spacing: 1px;
	padding-bottom: 15px;
	color: #fff;
}

.info_single {
	margin: 30px 0px;
	color: #f0f0f0;
	display: flex;
	align-items: center;
	grid-gap: 12px;
}

.info_single i {
	margin-right: 15px;
}

.info_single span {
	font-size: 14px;
	letter-spacing: 1px;
}

button.contact_form_submit {
	background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
	border: none;
	color: #fff;
	padding: 10px 15px;
	width: 100%;
	margin-top: 25px;
	border-radius: 35px;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 2px;
}

.socil_item_inner li {
	list-style: none;
}

.socil_item_inner li a {
	color: #fff;
	margin: 0px 15px;
	font-size: 14px;
}

.socil_item_inner {
	padding-bottom: 10px;
	display: flex;
}

.map_sec {
	padding: 50px 0px;
}

.map_inner h4,
.map_inner p {
	color: #000;
	text-align: center
}

.map_inner p {
	font-size: 13px;
}

.map_bind {
	margin-top: 50px;
	border-radius: 30px;
	overflow: hidden;
}


.about-section {
	padding: 60px 0;
	/* min-height: 100vh;*/
}

.sec-title {
	position: relative;
	z-index: 1;
	margin-bottom: 60px;
}

.sec-title .title {
	position: relative;
	display: block;
	font-size: 18px;
	line-height: 24px;
	color: #00aeef;
	font-weight: 500;
	margin-bottom: 15px;
}

.sec-title h2 {
	position: relative;
	display: block;
	font-size: 40px;
	line-height: 1.28em;
	color: #222222;
	font-weight: 600;
	padding-bottom: 18px;
	margin-bottom: 16px;
}

.sec-title h2:before {
	position: absolute;
	content: '';
	left: 0px;
	bottom: 0px;
	width: 50px;
	height: 3px;
	background-color: #d1d2d6;
}

.sec-title .text {
	position: relative;
	font-size: 16px;
	line-height: 26px;
	color: #848484;
	font-weight: 400;
	margin-top: 35px;
}

.sec-title.light h2 {
	color: #ffffff;
}

.sec-title.text-center h2:before {
	left: 50%;
	margin-left: -25px;
}

.list-style-one {
	position: relative;
}

.list-style-one li {
	position: relative;
	font-size: 16px;
	line-height: 26px;
	color: #222222;
	font-weight: 400;
	padding-left: 35px;
	margin-bottom: 12px;
}

.list-style-one li:before {
	content: "\f058";
	position: absolute;
	left: 0;
	top: 0px;
	display: block;
	font-size: 18px;
	padding: 0px;
	color: #ff2222;
	font-weight: 600;
	-moz-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1.6;
	font-family: "Font Awesome 5 Free";
}

.list-style-one li a:hover {
	color: #44bce2;
}

.btn-style-one {
	position: relative;
	display: inline-block;
	font-size: 17px;
	line-height: 30px;
	color: #ffffff;
	padding: 10px 30px;
	font-weight: 600;
	overflow: hidden;
	letter-spacing: 0.02em;
	background-color: #00aeef;
}

.btn-style-one:hover {
	background-color: #0794c9;
	color: #ffffff;
}

.about-section {
	position: relative;
	padding: 120px 0 70px;
}

.about-section .sec-title {
	margin-bottom: 45px;
}

.about-section .content-column {
	position: relative;
	margin-bottom: 50px;
}

.about-section .content-column .inner-column {
	position: relative;
	padding-left: 30px;
}

.about-section .text {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 26px;
	color: #848484;
	font-weight: 400;
}

.about-section .list-style-one {
	margin-bottom: 45px;
}

.about-section .btn-box {
	position: relative;
}

.about-section .btn-box a {
	padding: 15px 50px;
}

.about-section .image-column {
	position: relative;
}

.about-section .image-column .text-layer {
	position: absolute;
	right: -110px;
	top: 50%;
	font-size: 325px;
	line-height: 1em;
	color: #ffffff;
	margin-top: -175px;
	font-weight: 500;
}

.about-section .image-column .inner-column {
	position: relative;
	padding-left: 80px;
	padding-bottom: 0px;
}

.about-section .image-column .inner-column .author-desc {
	position: absolute;
	bottom: 16px;
	z-index: 1;
	background: orange;
	padding: 10px 15px;
	left: 96px;
	width: calc(100% - 152px);
	border-radius: 50px;
}

.about-section .image-column .inner-column .author-desc h2 {
	font-size: 21px;
	letter-spacing: 1px;
	text-align: center;
	color: #fff;
	margin: 0;
}

.about-section .image-column .inner-column .author-desc span {
	font-size: 16px;
	letter-spacing: 6px;
	text-align: center;
	color: #fff;
	display: block;
	font-weight: 400;
}

.about-section .image-column .inner-column::before {
	content: '';
	position: absolute;
	width: calc(50% + 115px);
	height: calc(100% + 10px);
	top: 70px;
	left: -3px;
	background: transparent;
	z-index: 0;
	border: 30px solid #00aeef;
}

.about-section .image-column .image-1 {
	position: relative;
}

.about-section .image-column .image-2 {
	position: absolute;
	left: 0;
	bottom: 0;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img {
	box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
	border-radius: 46px;
}

.about-section .image-column .video-link {
	position: absolute;
	left: 70px;
	top: 170px;
}

.about-section .image-column .video-link .link {
	position: relative;
	display: block;
	font-size: 22px;
	color: #191e34;
	font-weight: 400;
	text-align: center;
	height: 100px;
	width: 100px;
	line-height: 100px;
	background-color: #ffffff;
	border-radius: 50%;
	box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.about-section .image-column .video-link .link:hover {
	background-color: #191e34;
	color: #fff
}